.filterContainer{
  padding: 3rem 4rem;
  width: 26rem;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  background-color: var(--primary);
  color: var(--white);
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .componentsTitle{
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .componentsSubtitle{
    width: 100%;
    text-align: end;
  }

  header{
    font-family: Quicksand, sans-serif;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;

    span{
      margin-top: 1rem;
    }
  }

  strong{
    font-weight: 600; 
  } 

  .filterBody{
    align-self: stretch;
    font-size: 1rem;

    .component{
      margin-top: 2.5rem;
    }

    .formControl{
      display: flex !important;
      margin-bottom: 2rem;
      
      .multiSelect{
        display: flex !important;
        flex: 1 !important;

        &:before{
          border-bottom: 1px solid var(--white) !important;
          color: var(--white) !important;
        }
        &:after{
          border-bottom: 1px solid var(--action)  !important;
          color: var(--action) !important;
        }
        div{
          flex: 1 !important;
        }
        path{
          color: var(--action) !important;
        }
      }
    }

  }

  footer{
    align-self: stretch;  

  }
}
